---
//@ts-nocheck
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getCasos, getLangFromUrl } from "@utils/i18n";
import { render } from "astro:content";

export async function getStaticPaths() {
  const locales = ["es", "en"];
  const rutas = await Promise.all(
    locales.map(async (locale) => {
      let casossAsync = await getCasos(locale);

      return casossAsync.map((caso) => ({
        params: { locale, id: caso.slug },
        props: { caso }
      }));
    })
  );
  return rutas.flat();
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

let currentLocale = getLangFromUrl(canonicalURL);
let altLocale = currentLocale === "en" ? "es" : "en";

let locales = ["es", "en"];

const { caso } = Astro.props;
const { data, slug } = caso;
const { title, author, img, description } = data;

const { Content } = await render(caso);
export const prerender = true;
---

<Layout
  title={title}
  description={description}
  ogImage="https://ik.imagekit.io/0oguwfou0i/yi-printable-portfolio?updatedAt=1707175630120"
>
  <Fragment slot="head">
    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />
    <!-- Alternate Links -->
    {
      locales
        .filter((locale) => locale !== currentLocale)
        .map((locale) => {
          return (
            <link
              rel="alternate"
              href={canonicalURL.href.replace(currentLocale, locale)}
              hreflang={locale}
            />
          );
        })
    }
    <link
      rel="alternate"
      href={"https://yidev.vercel.app/es/casos-de-estudio/" + slug}
      hreflang="x-default"
    />
  </Fragment>
  <Section slot="default-slot" classes={"p-4 sm:px-16"}>
    <div
      class="prose prose-sm prose-invert -z-20 max-w-none tracking-wider sm:prose-base prose-a:text-[rgb(106,190,251)] hover:prose-a:text-sky-700 prose-strong:font-normal max-sm:prose-h1:text-2xl"
    >
      <main>
        <h1
          class="relative -z-10 text-balance text-center"
          transition:name={`title-${slug}`}
        >
          {title}
        </h1>
        <Content />
      </main>
    </div>
  </Section>
</Layout>
