---
import Section from "@components/Section.astro";

import { getI18N, getLangFromUrl } from "@utils/i18n";

const { work } = getI18N(Astro.currentLocale);
const lang = getLangFromUrl(Astro.url);
---

<Section
  classes={lang == "" && "mb-4"}
  title={lang === "" ? "Experience" : `Experiencia Laboral`}
>
  <ul
    class="flex flex-col gap-6 divide-y-[2px] divide-stone-700/60 print:divide-stone-200/50"
  >
    {
      work.map(({ name, position, startDate, endDate, summary }) => {
        return (
          <li class="pt-3">
            <article>
              <header class="mb-3 flex flex-col-reverse items-center justify-between sm:flex-row">
                <div class="flex flex-col gap-[2px] max-sm:w-full">
                  <h4 class="text-lg tracking-normal text-stone-200/50 max-sm:flex max-sm:justify-between print:text-stone-600/70">
                    {lang === "" ? "Company" : "Empresa"}:
                    <span class="text-stone-100/90 print:text-stone-800">
                      {name}
                    </span>
                  </h4>
                  <h5 class="text-sm text-stone-200/40 max-sm:flex max-sm:justify-between print:text-stone-400/50">
                    {lang === "" ? "Role: " : "Rol: "}
                    <span class="text-stone-100/70 print:text-stone-400">
                      {position}
                    </span>
                  </h5>
                </div>

                <time class="text-sm text-zinc-200/40 sm:text-lg print:text-stone-400/80">
                  {startDate} | {endDate}
                </time>
              </header>
              <main>
                <p class="text-justify leading-tight tracking-normal">
                  {summary}
                </p>
              </main>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
