---
import { getI18N, getLangFromUrl } from "../../utils/i18n";
const { work } = getI18N(Astro.currentLocale);
const lang = getLangFromUrl(Astro.url);

import Section from "@components/Section.astro";
import { format } from "@formkit/tempo";
---

<Section title={lang === "" ? "Experience" : `Experiencia Laboral`}>
  <ul class="flex flex-col gap-6">
    {
      work.map(({ name, position, startDate, endDate, summary }) => {
        const startYear = new Date(startDate);
        const endYear = new Date(endDate);
        let formattedStartYear = format(startYear, "MMM, YYYY");
        let formattedEndYear = format(endYear, "MMM, YYYY");
        const years = `${formattedStartYear} | ${formattedEndYear}`;
        return (
          <li class="">
            <article>
              <header class="mb-2 flex items-start justify-between">
                <div>
                  <h3 class="text-lg font-semibold text-stone-200/80 print:text-stone-700/80">
                    {name}
                  </h3>
                  <h4 class="text-sm text-stone-200/60 print:text-stone-700/70">
                    {position}
                  </h4>
                </div>

                <time class="text-sm leading-9 sm:text-lg">{years}</time>
              </header>

              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
