---
import img from "@images/me.jpg";

import World from "@components/icons/World.astro";
import Section from "@components/Section.astro";

import { getI18N } from "@utils/i18n";
import { Image } from "astro:assets";

const { basics } = getI18N(Astro.currentLocale);
const { name, label, location } = basics;
const { city, region } = location;
---

<Section>
  <div
    class="flex flex-col-reverse items-center justify-between gap-2 sm:flex-row"
  >
    <div class="flex flex-col gap-2 print:text-stone-800">
      <h1
        class="text-balance text-3xl font-bold leading-none text-stone-50 sm:text-4xl print:text-3xl print:text-inherit"
      >
        {name}
      </h1>
      <h2
        class="my-1 text-balance text-lg font-medium leading-tight text-stone-200/80 print:text-base print:leading-none print:text-inherit"
      >
        {label}
      </h2>
      <span
        class="flex items-center gap-1 text-xl text-[#ffffff80] print:text-stone-400/90"
      >
        <World />
        {city}, {region}
      </span>
    </div>
    <figure class="flex h-full w-[200px] items-center justify-end print:hidden">
      <Image
        width="400"
        class="aspect-square w-full rounded-md object-cover sm:w-32"
        src={img}
        alt=`image of ${name}`
        title=`image of ${name}`
      />
    </figure>
  </div>
</Section>
