---
import Section from "@components/Section.astro";
import { getI18N, getLangFromUrl } from "@utils/i18n";

const { projects } = getI18N(Astro.currentLocale);
const lang = getLangFromUrl(Astro.url);
---

<Section
  classes="print:mt-1"
  title={lang === "" ? "Personal Experience" : `Experiencia Personal`}
>
  <ul
    class="flex flex-col gap-6 divide-y-[2px] divide-stone-700/60 pt-3 print:gap-4 print:divide-stone-200/50"
  >
    {
      projects.map(
        ({
          url,
          description,
          highlights,
          name,
          type,
          isActive,
          show = true
        }) => {
          if (!show) return;
          return (
            <li class="pt-3 print:gap-2">
              <article class="flex h-full flex-col gap-1 rounded-sm">
                <header class="flex flex-row items-center gap-1">
                  <h4 class="text-xl font-medium text-stone-300/90 print:text-stone-700/80">
                    <a
                      class="hover:underline hover:underline-offset-2"
                      href={url}
                      target="_blank"
                      title={`ver proyecto ${name}`}
                    >
                      {name} • {type}
                    </a>
                  </h4>
                  {isActive && (
                    <span class="text-3xl leading-none text-green-500/80">
                      &bull;
                    </span>
                  )}
                </header>
                <p class="mb-1 text-[0.8rem] leading-tight">{description}</p>
                <footer class="flex flex-wrap gap-2 text-xs">
                  {highlights.map((highlight) => (
                    <span class="flex items-center rounded-md bg-stone-700/40 px-[0.6rem] py-[0.2rem] font-medium print:bg-stone-200/60">
                      {highlight}
                    </span>
                  ))}
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
