---
//@ts-nocheck
const { size, weight, text, propStyles = "" } = Astro.props;

const sizes = {
  sm: "text-lg lg:text-2xl xl:text-3xl",
  md: "text-2xl",
  lg: "text-4xl md:text-5xl lg:text-7xl",
  inherit: "text-sizeInherit"
};
const weights = {
  thin: "font-thin",
  extralight: "font-extralight",
  light: "font-light",
  normal: "font-normal",
  medium: "font-medium",
  semibold: "font-semibold",
  bold: "font-bold",
  extrabold: "font-extrabold",
  black: "font-black"
};
const defaultStyles =
  "sm:text-nowrap bg-gradient-to-b from-blue-600 from-40% to-60% sm:to-[#0a1947] to-cyan-900 bg-clip-text text-transparent";
---

{
  text.split(" ").map((word) => {
    return (
      <span
        class:list={`${propStyles}  ${defaultStyles} ${sizes[size]} ${weights[weight]}`}
      >
        {" "}
        {word}{" "}
      </span>
    );
  })
}
