---
export interface Props {
  title: string;
  description: string;
  ogImage: string | undefined;
}

const { title, description, ogImage } = Astro.props;
const canonicalURL = new URL("https://cv-me-zeta.vercel.app/");
const socialImageURL = new URL(ogImage ? ogImage : "/open-graph.png", Astro.url)
  .href;
const siteTitle = `${title}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/cv.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Alternate Links -->
<link
  rel="alternate"
  href="https://cv-me-zeta.vercel.app/"
  hreflang="x-default"
/>
<link rel="alternate" href="https://cv-me-zeta.vercel.app/" hreflang="en" />
<link rel="alternate" href="https://cv-me-zeta.vercel.app/es" hreflang="es" />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>

<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="googlebot" content="index, follow" />

<!-- Google Search Console Site Verification -->
<meta
  name="google-site-verification"
  content="bxQs-Kba1ZgsizXREjb3G33B0b9s2QRRbjkITeuFToo"
/>
<!-- SEO -->
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content="Yidev27" />
<meta
  name="keywords"
  content="Desarrollador Web, Web Developer, Consultor Web, Freelancer, Programador, Web, Apps, Javascript, ReactJS, Astro, Paginas Web, Maracaibo"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content={"website"} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" itemprop="image" content={socialImageURL} />

<!-- open graph /whatsapp -->
<meta property="og:site_name" content={siteTitle} />
<meta property="og:type" content="website" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<link itemprop="thumbnailUrl" href={socialImageURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" itemprop="image" content={socialImageURL} />

<!-- styles -->
<link rel="stylesheet" href="../../src/styles/global.css" />

<!-- RSS auto-discovery -->
<!-- <link
  rel="alternate"
  type="application/rss+xml"
  title={title}
  href="/rss.xml"
/> -->
